* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #b78a2d;
  --secondary-color: #2b2b88;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* Header  */
header {
  width: 100%;
}

.logo img {
  width: 50px;
}

nav {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  background-color: var(--primary-color);
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #2b2b88;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: white;
  font-size: 30px;
}

/* Hero Section  */
.hero {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  margin: 30px 40px;
  padding: 10px 30px;
}

.hero h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.hero p {
  margin-top: 10px;
}

/* Gallery Section  */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-grid {
  width: 100%;
  min-height: 70vh;
  padding: 10px 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  gap: 10px;
}

.box-1 {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/3;
}

.box-2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-2 h1 {
  color: var(--primary-color);
  font-weight: bold;
}

.box-2 p {
  margin-top: 10px;
}
.box-5 {
  grid-column: 2/4;
}

.box-1 img,
.box-3 img,
.box-4 img,
.box-5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Upcoming-event section */
.upcoming-events {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.upcoming-events h1 {
  font-size: 34px;
  font-weight: 700;
}

.event-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  max-height: 360px;
  padding: 0.8em;
  background: #f5f5f5;
  border-radius: 0.5rem;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img img {
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

.card-info {
  padding-top: 10%;
}

.text-title {
  font-weight: 900;
  font-size: 1.2em;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

.card-img img:hover {
  transform: translateY(-5%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

/* Guest Speaker Section */
.guest-speakers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 30px;
  /* background-color: #2b2b88; */
  background: linear-gradient(120deg, var(--secondary-color), var(--primary-color));
  color: white;
}

.guest-speakers h1 {
  font-size: 34px;
  font-weight: 700;
}

.guest-speakers-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 70px;
  flex-wrap: wrap;
}

.guest-speakers-circular-card {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
}

.guest-speaker-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.guest-speaker-img img:hover {
  transform: translateY(-5%);
}

.guest-speaker-text {
  padding: 10px 2px;
  width: 100%;
  text-align: center;
}

.guest-speaker-text p {
  font-style: italic;
  font-weight: lighter;
}

/* Workshop section */
.workshop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.workshop h1 {
  font-size: 34px;
  font-weight: 700;
}

.workshop-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  min-height: 28vh;
  background-color: var(--secondary-color);
  color: white;
  line-height: 2rem;
  /* margin-top: 40px; */
}

footer a {
  color: lightseagreen;
  transition: all 0.3s ease;
}

footer a:hover {
  color: red;
}

/* Utilities  */
.active {
  color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 1100px) {
  nav {
    padding: 0 50px;
  }

  nav ul {
    gap: 20px;
  }
}

@media (max-width: 930px) {
  .logo img {
    width: 40px;
  }

  nav {
    height: 60px;
  }

  .menu-icon i {
    font-size: 20px;
  }

  nav ul {
    position: absolute;
    height: 100vh;
    top: 50px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: #b78a2d;
    gap: 0;
    overflow: hidden;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
  }

  nav ul li {
    padding: 8px;
  }

  .menu-icon {
    display: block;
  }

  #menu-list {
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 720px) {
  .gallery-grid {
    padding: 10px;
  }

  .box-2 h1 {
    font-size: 20px;
  }

  .box-2 p {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  nav {
    height: 50px;
    padding: 0 20px;
  }

  .menu-icon i {
    font-size: 20px;
  }

  nav ul {
    top: 50px;
    left: 0;
    right: 0;
  }

  .gallery-grid {
    padding: 5px;
  }

  .box-2 h1 {
    font-size: 16px;
  }

  .box-2 p {
    font-size: 11px;
  }

  footer {
    font-size: 12px;
  }
}
